<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{url_for('static', filename='./img/spotanalyst.svg')}}"
      type="image/icon"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='./styles/analysis.css')}}"
    />
    <title>Analysis</title>
  </head>

  <body>
    <h2>{{extract}}</h2>
    <img
      src="https://i.pinimg.com/originals/90/aa/3a/90aa3a0208c1d4f8c1c5baac94ff31b4.gif"
      alt="Success"
    />
    <div class="btns">
      <form method="GET" action="/analysis">
        <button type="submit" id="reload_button">Reload</button>
      </form>
      <form method="GET" action="/">
        <button type="submit" id="analysis_button">Home</button>
      </form>
      <form method="GET" action="/spotanalyst">
        <button type="submit" id="analysis_button">Profile</button>
      </form>
      <form action="/download/csv" class="basic_details download">
        <button type="submit">Download Predicted File</button>
      </form>
    </div>
    <div class="charts">
      <div>{{plot1 | safe}}</div>
      <br />
      <div>{{plot2 | safe}}</div>
      <br />
      <div>{{plot3 | safe}}</div>
      <br />
    </div>
  </body>
</html>
